body {
	font-family: "Noto Sans", sans-serif;
	font-size: 1rem;
	color: rgba(0,0,0,0.8);
	margin: 0px;
}

a:link, a:visited {
	color: rgba(0,0,0,0.8);
}

a:hover {
	color: rgba(180,0,0,0.8);
}

nav > ul {
	padding: 0px;
	list-style: none;
	font-size: 1.4rem;
}

nav li {
	display: inline;
	padding: 0.5rem;
}

#contain_all > section,header {
	text-align: center;
	padding-left: 5rem;
	padding-right: 5rem;
	padding-top: 4rem;
	padding-bottom: 4rem;
}

/* TODO: Make this a repeating thing that gets applied by #contain_all */
.color-band {
	color: white;
	background-color: rgba(0,0,0,0.8);
}

#about_me {

}

#career {

}

#interests {

}

#projects {

}
